.HQ{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.HQimg{
    display: flex;
    justify-content: center;
    align-self: center;
    max-height: 100%;
    max-width: 100%;
    position:absolute;
    left: 13.2%;
    right: 13.2%;
    object-fit: contain;
}

.BotaoVoltar--Container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    width: 90%;
    margin: 20px;
}

.botaoVB{
    background-image: url('./components/imgs/Cadeado.png');
    border-radius: 50%;
    width: 63px;
    height: 63px;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 0;
    border: 1px solid black;
  }

.BotaoVoltar{
    background-image: url('./components/imgs/setaVoltar.png');
    border-radius: 50%;
    width: 73px;
    height: 73px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: silver;
    margin-left: 10px;
    font-size: 0;
}

.BotaoVoltarBook{
    background-image: url('./components/imgs/setaVoltar.png');
    border-radius: 50%;
    width: 73px;
    height: 73px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: silver;
    margin-left: 10px;
    font-size: 0;
}

.BotaoProximo{
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 45px;
    border-radius: 8px;
    background-color: cyan;
    margin-right: 1%;
}

.BotaoAnterior{
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 45px;
    border-radius: 8px;
    background-color: cyan;
    margin-left: 1%;
}

.Link{
    cursor: default;
  }

.BotaoOpcoes{
    width: 300px;
    height: 45px;
    margin: 45px;
    border-radius: 8px;
    background-color: aqua;
}

.OpRow1{
    margin-top: 120px;
}

.Book{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Voltar{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    width: 90%;
    margin: 20px;
}