.ComoJogar--Container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Topico{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.VoltarCJ{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    width: 90%;
    margin: 20px;
}
  
.BotaoVoltarCJ{
    background-image: url('./components/imgs/setaVoltar.png');
    border-radius: 50%;
    width: 73px;
    height: 73px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: silver;
    margin-left: 10px;
    font-size: 0;
}

