.Opcoes--Container{
    display: flex;
    flex-direction: column;
  }

.Opc{
    display: flex;
    flex-direction: column;
}
  
  .acertoOUerro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
    height: 100%;
  }
  
  .Botao_acertoOUerro{
    width: 130px;
    height: 45px;
    border-radius: 8px;
    margin-left: 20px;
  }
  
  .ganharOUperder{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
    height: 100%;
  }
  
  .Botao_ganharOUperder{
    width: 130px;
    height: 45px;
    border-radius: 8px;
    margin-left: 20px;
  }

  .Narracao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
    height: 100%;
  }

  .Botao_Narracao{
    width: 130px;
    height: 45px;
    border-radius: 8px;
    margin-left: 20px;
  }

  .VoltarOpc{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    width: 90%;
    margin: 20px;
}
  
  .Botao_Voltar{
    background-image: url('./components/imgs/setaVoltar.png');
    border-radius: 50%;
    width: 73px;
    height: 73px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: silver;
    margin-left: 10px;
    font-size: 0;
  }