body{
    background-color: #F9B300; 
  }

.pvs{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3px;
  font-size: 18px;
}

.charadas{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  white-space: pre-line;
  height: 58vh;
  width: 100%;
  font-size: 15px;
}

.charadasImg{
  display: flex;
  align-items: center;
  flex-direction: column;
  white-space: pre-line;
  height: 58vh;
  width: 100%;
  font-size: 17.6px;
}

.charada{
  display: flex;
  justify-content: center;
}

.charadasFim{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  white-space: pre-line;
  height: 29vh;
  font-size: 30px;
}



.hEr{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 8px;
}

.Narra--Container{
  margin-left: 8px;
}

  .alternativas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .alternativasR1{
    display: flex;
    flex-direction: row;
  }

  .alternativasR2{
    display: flex;
    flex-direction: row;
  }

  .botao_alternativa{
    width: 300px;
    height: 40px;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid;
  }

  .botaohEr{
    width: 130px;
    height: 40px;
    margin-right: 2px;
    border-radius: 8px;
    border: 1px solid;
    margin: 2px;
  }

  .Narracao_e_HeR{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .Narra{
    width: 130px;
    height: 40px;
    margin-left: 2px;
    border-radius: 8px;
    border: 1px solid;
    margin: 2px;
    background-color: #4791FF;
  }

.hpv{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.vpv{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.botoesOpcoes{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 77px;
}

.botaoMeJ{
  width: 130px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid;
}

.Link{
  cursor: default;
}

.dicas{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Qimg{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  max-height: 90%;
}