body{
    background-color: #F9B300; 
  }

.pvs{
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
}

.charadas{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  white-space: pre-line;
}

.hEr{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 8px;
}

  .alternativas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }

  .alternativasR1{
    display: flex;
    flex-direction: column;
  }

  .alternativasR2{
    display: flex;
    flex-direction: column;
  }

  .botao_alternativa{
    width: 300px;
    height: 40px;
    margin: 20px;
    border-radius: 8px;
    border: 1px solid;
  }

  .botaohEr{
    width: 130px;
    height: 40px;
    margin-right: 2px;
    border-radius: 8px;
    border: 1px solid;
    margin: 2px;
  }

.hpv{
  margin-right: 2px;
}

.vpv{
  margin-left: 2px;
}

.botoesOpcoes{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 100px;
}

.botaoMeJ{
  width: 130px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid;
}

.Link{
  cursor: default;
}

.dicas{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Qimg{
  max-width: 65%;
  max-height: 65%;
  margin-left: 110px;
}